footer{
    margin: 4rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

footer h1{
    color: var(--titulo);
    text-align: center;
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 2rem;
}

footer img {
    position: absolute;
    right: 2rem;
}